## SQ計算

In [3]:
# 初期設定：CSVファイルから、日経２２５社のコード取得しておく

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/zaq9/nk225_list/master/nk225_list.csv')

In [8]:
print(df.head(3))

   code      name  gakumen    open
0  1332      日本水産     50.0   670.0
1  1333    マルハニチロ    500.0  3730.0
2  1605  国際石油開発帝石    125.0  1039.0

In [7]:
#楽天RSSを利用し、225社の始値を取得 (約２０秒）

from rakuten_rss import fetch_open

df['open'] = df.code.apply(lambda x: fetch_open(x))

In [10]:
#SQ値計算：(取引所発表　20793.00　と一致）

josuu = 27.003  #　除数　
df['minashi'] = df['open'] * (50.0 / df.gakumen)

print(f"日経平均(SQ値） = {df.minashi.sum() / josuu :0.2f} ")

日経平均(SQ値） = 20793.00